.css-1ps6pg7-MuiPaper-root {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("cyan-blur.png"), url("red-blur.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  background-size: 50%, 50%;
  padding: 4px;
  box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.24) -20px 20px 40px -4px;
  border-radius: 10px;
  min-width: 140px;
}

.css-1ps6pg7-MuiPaper-root ul {
  padding: 0;
}

.css-1ps6pg7-MuiPaper-root ul li {
  border-radius: 6px;
}

.MuiDataGrid-paper.css-154sxbz-MuiPaper-root-MuiDataGrid-paper {
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  min-width: 300px;
  max-height: 450px;
  display: flex;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("cyan-blur.png"), url("red-blur.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  background-size: 50%, 50%;
  padding: 0px;
  box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.24) -20px 20px 40px -4px;
  border-radius: 10px;
}

.MuiMenu-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  overflow: hidden auto;
  min-width: 16px;
  min-height: 16px;
  max-width: calc(100% - 32px);
  outline: 0px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("cyan-blur.png"), url("red-blur.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  background-size: 50%, 50%;
  padding: 4px;
  box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.24) -20px 20px 40px -4px;
  border-radius: 10px;
  max-height: 240px;
}

.MuiPopper-root.MuiDataGrid-panel {
  inset: 0px 0px auto auto !important;
  transform: translate3d(-25px, 432.8px, 0px) !important;
}

.MuiDataGrid-filterForm {
  gap: 1rem;
}

.MuiPopper-root.MuiDataGrid-menu .MuiPaper-root {
  box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.24) -20px 20px 40px -4px;
  border-radius: 10px;
}
